.table {
  display:table;
}

.header {
  display:table-header-group;
  font-weight:bold;
}

.group {
  display:table-row-group;
}

.row {
  display:table-row;
}

.cell {
  display:table-cell;
  width:25%;
  text-align:right;
  padding-right:5px;
  padding-left:5px;
}

.hide {
  text-align:left;
  font-size:x-small;
}

.hide a {
  color:#929292;
}

a:link, a.visited {
  text-decoration:none;
}

a:hover, a:active {
  text-decoration:underline;
}